@font-face {
    font-family: Monda;
    src: url(./assets/Monda-Regular.ttf);
}
html{
    scroll-behavior: smooth;

}

*{
    padding: 0;
    margin: 0;
    font-family: Monda;
}
*::selection{
    background-color: #afafaf;

}

@tailwind base;
@tailwind components;
@tailwind utilities;
