  @tailwind base;
  @tailwind components;
  @tailwind utilities;




  @font-face {
    font-family: Monda;
    src: url(./assets/Monda-Regular.ttf);
  }

  * {
    padding: 0;
    margin: 0;
    font-family: Monda;
  }

  *::selection {
    background-color: #7c7c7c;

  }

  ::-webkit-scrollbar {
    width: 7px;
  }

  ::-webkit-scrollbar-track {
    background-color: #cccccc;
  }

  ::-webkit-scrollbar-thumb {
    background-color: #313131;
    border-radius: 20px;
  }

  html {
    scroll-behavior: smooth;
    scrollbar-width: thin;

  }


  html::-moz-scrollbar-thumb {
    background-color: #313131;
    border-radius: 20px;

  }

  audio {
    width: 100%;
  }
/* 
  audio::-webkit-media-controls-panel {
    display:none;
  } */

  /* audio::-webkit-media-controls-play-button {
     background-image: url('path/to/play-button.png'); 
  } */

  audio::-webkit-media-controls-volume-slider {
    width: 100%;
    height: 5px;
    background-color: transparent;
    border-radius: 5px;
  }

  audio::-webkit-media-controls-seek-back-button,
  audio::-webkit-media-controls-seek-forward-button {
    display: block;
  }

  .bg {
    background: linear-gradient(rgba(255, 255, 242, 0.97) 40%, rgba(255, 255, 242, 0.97)) 40%, url('./src/assets/bg-image/bg.jpg');
    background-repeat: none;
    background-size: contain;
    background-position: center;

  }